page-relation-profile-detail {
    .item-md, .item-ios, .item-wp {
        padding-left: 0px;
        }
    .list {
        .item {
            padding: 0px;
            .label-detail {
                font-size: 1.5rem;
            }
        }
    }

}
  