<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--<ion-row>
    <ion-col col-4 *ngFor="let image of images">
      <img [src]="images"/>
    </ion-col>
  </ion-row>-->
  <div class="pins">
    <div class="pin" ion-card icon-start *ngFor="let image of images">
      <img [src]="image" imageViewer/>
      <i><ion-icon name="heart"></ion-icon></i>
    </div>
  </div>

</ion-content>
