page-promo {

  .mapi{
    border-radius: 10px;
  }

  .desk {
    text-align: center;
  }

  .tnom{
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 2rem;
    padding: 10px 0px;
    margin:15px 15%;
  }

}
